!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else
            - var title = 'Live Documentation'
        title=title
        link(rel='stylesheet', href='/docs/stylesheets/prettify.css')
        link(rel='stylesheet', href='/docs/stylesheets/style.css')

    body
        block content
        div(id='io-footer')
           div(class='f-left') &copy;
              a(href='http://mashery.com/io') Mashery, Inc.
           div(class='f-right') Powered by
              a(href='https://github.com/mashery/iodocs') I/O Docs
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
        script(src='/docs/javascripts/json2.js')
        script(src='/docs/javascripts/prettify.js')
        script(src='/docs/javascripts/utilities.js')
        script(src='/docs/javascripts/livedocs.js')
        script(src='/docs/javascripts/docs.js')
        script(src='/docs/javascripts/bookmarks.js')
